.ant-col-12
.ant-form-explain{
  margin-left: 80px;
}

.replaceEncodingRuleStyle{

  .langIconstyle{
    display: inline-block;
  }
  .langIconstyle .btn-multi-language_placeholder_Form{
    margin-left:  -17px;
    position: relative;
    cursor: pointer;
  }
}
