.iam-partner {
  .partner-upload{
    .ant-upload-list-item-name{
      width: 140px;
    }
    .ant-upload-list-item-info{
      width: 130px;
    }
    .ant-upload-list-item-actions{
      margin-left: 10px;
    }
    .ant-upload-list-item{
      justify-content: inherit;
    }
  }
}
