.encoding-content{
.ant-col-12 .ant-form-explain{
  margin-left: 80px;
  height: 30px;
}
  .endcodingDesCallBack .ant-form-item-children:first-child:after{
    position: absolute;
    top: -17px;
    left: 295px;
  }
}

.langIconStyle{
  display: inline-block;
}
.langIconStyle .btn-multi-language_placeholder_Form{
  margin-left:  -17px;
  position: relative;
  cursor: pointer;
}

